<a href="https://colab.research.google.com/github/fpmacedo/Bootcamp-IGTI-Machine-Learning/blob/main/Pratica_Modulo_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

 Qual o tamanho desse dataset?

In [3]:
df.shape

(17379, 17)

Qual a média da coluna windspeed?

In [4]:
df['windspeed'].mean()

0.1900976063064631

Qual a média da coluna temp?

In [6]:
df['temp'].mean()

0.4969871684216586

In [7]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

Quantos registros existem para o ano de 2011?

In [12]:
df['datetime'].str.contains('2011').sum()

8645

. Quantos registros existem para o ano de 2012?

In [13]:
df['datetime'].str.contains('2012').sum()

8734

Quantas locações de bicicletas foram efetuadas em 2011?

In [30]:
df_2011 = df[df['datetime'].str.contains("2011")]

df_2011['total_count'].sum()

1243103

Quantas locações de bicicletas foram efetuadas em 2012?

In [32]:
df_2012 = df[df['datetime'].str.contains("2012")]

df_2012['total_count'].sum()

2049576

Qual estação do ano contém a maior média de locações de bicicletas?

In [39]:
df['season'].unique()

array([1, 2, 3, 4])

In [43]:
print('Season 1 mean = ', df.query("season == 1")["total_count"].mean())
print('Season 2 mean = ', df.query("season == 2")["total_count"].mean())
print('Season 3 mean = ', df.query("season == 3")["total_count"].mean())
print('Season 4 mean = ', df.query("season == 4")["total_count"].mean())

Season 1 mean =  111.11456859971712
Season 2 mean =  208.34406894987526
Season 3 mean =  236.01623665480426
Season 4 mean =  198.86885633270322

Qual horário do dia contém a maior média de locações de bicicletas?

In [48]:
hours = df['hour'].unique()
hours

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [60]:
mean_hour = []
for hour in hours:
  mean_hour.append(df.query("hour == @hour")["total_count"].mean())
print("Hour = {:d}, Mean = {:.2f}".format(mean_hour.index(max(mean_hour)),max(mean_hour)) )

Hour = 17, Mean = 461.45

Qual horário do dia contém a menor média de locações de bicicletas?

In [61]:
mean_hour = []
for hour in hours:
  mean_hour.append(df.query("hour == @hour")["total_count"].mean())
print("Hour = {:d}, Mean = {:.2f}".format(mean_hour.index(min(mean_hour)),min(mean_hour)) )

Hour = 4, Mean = 6.35

Que dia da semana contém a maior média de locações de bicicletas?

In [90]:
days = df['weekday'].unique()

0

In [94]:
mean_day = []
for day in days:
  mean_day.append(df.query("weekday == @day")["total_count"].mean())
print("Day = {:d}, Mean = {:.2f}".format(days[mean_day.index(max(mean_day))],max(mean_day)) )

Day = 4, Mean = 196.44

. Que dia da semana contém a menor média de locações de bicicletas?

In [95]:
mean_day = []
for day in days:
  mean_day.append(df.query("weekday == @day")["total_count"].mean())
print("Day = {:d}, Mean = {:.2f}".format(days[mean_day.index(min(mean_day))],min(mean_day)) )

Day = 0, Mean = 177.47

Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média
de locações de bicicletas?

In [77]:
mean_hour = []
for hour in hours:
  mean_hour.append(df.query("hour == @hour & weekday == 3")["total_count"].mean())
print("Hour = {:d}, Mean = {:.2f}".format(mean_hour.index(max(mean_hour)),max(mean_hour)) )

Hour = 17, Mean = 513.14

Aos sábados (weekday = 6), qual o horário do dia contém a maior média de
locações de bicicletas?

In [78]:
mean_hour = []
for hour in hours:
  mean_hour.append(df.query("hour == @hour & weekday == 6")["total_count"].mean())
print("Hour = {:d}, Mean = {:.2f}".format(mean_hour.index(max(mean_hour)),max(mean_hour)) )

Hour = 13, Mean = 385.37